html,
body {
   font-family: Arial, sans-serif;
   height: 100%;
   background-color: black;
}
a #menu svg {
	width: 40px;
}
hr {
	margin-top: 0px;
}
#map {
   height: 100%;
   min-height: 900px;
}
#header{
	padding-left: 2%;
	text-align: center;
}
#menu-icon {
	display: table-cell;
}
#input-wrapper{
	background-color: rgb(71,71,77);
	width: 100%;
	margin: 0px;
}
#page-wrapper{
	width: 100%;
	position: absolute;
	margin-left: 0px;
}
#filter{
	min-height: 36px;
	color: black;
	background-color: white;
   	color: lightgrey;
   	padding: 0px;
}
.sidebar-wrapper{
	position: absolute;
	z-index: 1;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: #2C3E50;
	border: 2px solid white;
	transform: translate(-100%, 0);
	transition: transform 0.5s ease;
}
.open{
	transform: translate(0, 0);
}
.header-color{
   color: lightgrey;
}
.filter-wrapper{
	background-color: rgb(71,71,77);
	min-height: 36px;
	text-align: right;
	padding: 0px;
	padding-top: 8px;
}
.filter-text{
	margin: 0px 5%;
}
.sidebar-nav{
	list-style: none;
	padding-left: 0px;
}
.sidebar-nav a{
	color: white;
}

.sidebar-nav > li {
	text-indent: 20px;
	line-height: 50px;
	border: 1px solid lightgrey;
	display: block;
}
.instructions {
	opacity: 0.8; 
	background-color: black; 
	z-index: 2; 
	margin-top: 15%;
	position: absolute; 
	color: white; 
	font-style: italic;
	width: 100%;
	text-align: center;
}
.instructions-open {
	opacity: 1.0; 
	background-color: lightgrey; 
	z-index: 2; 
	margin-top: 15%;
	position: absolute; 
	color: white; 
	font-style: italic;
	width: 40px;
	text-align: center;
}

@media only screen and (min-width: 767px) {
    .sidebar-wrapper {
      transform: translate(0, 0);
      width: 300px;
    }
    #instructions, #menu-icon, .instructions-open{
    	display: none;
    }
}